<app-header titulo="alert" ></app-header>

<!-- <ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        text="Back"
        color="primary"
      ></ion-back-button>      
    </ion-buttons>

    <ion-title>alert</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">

 <ion-button (click)="presentAlert()" expand="block">
  Click me
 </ion-button>

 <ion-button (click)="presentAlert2()" expand="block">
  Click me optios
 </ion-button>

 <ion-button (click)="presentAlertForm()" expand="block">
  Click form
 </ion-button>

</ion-content>
