<app-header titulo="Cards" ></app-header>
<ion-content>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item color="primary" >
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut id sunt hic adipisci? Adipisci est a sapiente laudantium, consequatur illo minima, magnam voluptatum atque corrupti fugiat nihil laborum voluptates. Omnis.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="https://www.zeldadungeon.net/wiki/images/thumb/f/fd/Link.png/400px-Link.png"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut id sunt hic adipisci? Adipisci est a sapiente laudantium, consequatur illo minima, magnam voluptatum atque corrupti fugiat nihil laborum voluptates. Omnis.
    </ion-card-content>

  </ion-card>
</ion-content>
